 {% block extra %}{% endblock %}

<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Play Torii Games Online</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description=" content="Play Ken Torii's games online! whether it would be from cute Dango games, to scary dark games." />
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
	<link href="{{ base_url }}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="{{ base_url }}css/index2.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    {% block css_content %}{% endblock %}
    
	<!-- <script type="text/javascript" src="{{ base_url }}js/webJS.js"></script> -->
</head>

<body>
    <div class="container kt-tabs-component">
        <div class="container strictly-no-padding ">
            <div class="kt-google-translate-widget" id="google_translate_element">
            </div>
            <nav class="navbar navbar-inverse kt-tabs-component-nav"><!--navbar-default-->
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#" style="color:#fed136;">Menu</a>
                    </div>
                    <div class="collapse navbar-collapse kt-tabs-component-nav-div" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ base_url }}">Home</a></li>
                            {% for game_tab in game_tabs %}
                                <li {% if game_tab.active %}class="active"{% endif %}>
                                    <a href="{{ base_url }}index.php/Games/{{ game_tab.name }}">{{ game_tab.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div>please wait 10 seconds for the game to load...</div>
    {% block content %}{% endblock %}
</body>

</html>