 {% block extra %}{% endblock %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Ken Torii &copy;</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ base_url }}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ base_url }}css/index2.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript" src="{{ base_url }}js/webJS.js"></script>
    <script type="text/javascript" src="{{ base_url }}js/adminPage.js"></script>
</head>

<body>

    <div class="container kt-tabs-component">
        <div class="container strictly-no-padding ">
            <div class="kt-google-translate-widget" id="google_translate_element"></div>
            <nav class="navbar navbar-inverse kt-tabs-component-nav">
                <!--navbar-default-->
                <div class="container-fluid">
                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

                        <a class="navbar-brand" href="#" style="color:#fed136;">Menu</a>
                    </div>
                    <div class="collapse navbar-collapse kt-tabs-component-nav-div" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="navbar-tab" class="active"><a href="#aboutsite">About This Site</a></li>
                            <li class="navbar-tab"><a href="#whatsup">What's Up?</a></li>
                            <li class="navbar-tab"><a href="#aboutme">About Me</a></li>
                            <li class="navbar-tab"><a href="#gamedev">Games</a></li>
                            <li class="navbar-tab"><a href="#otherprojects">Other Projects</a></li>
                            <li class="navbar-tab"><a href="#smash">Resume</a></li>
                            <li class="dropdown"><a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Tutorials</a>
                                <ul class="dropdown-menu">
                                    <li class="navbar-tab"><a href="#physics">Physics</a></li>
                                    <li class="navbar-tab"><a href="#math">Math</a></li>
                                </ul>
                            </li>
                            <li class="navbar-tab"><a href="http://www.kentorii.wordpress.com">Blog</a></li>

                            <li class="navbar-tab"><a href="#contactme">Contact</a></li>
                            {% if true == session %}
                            <li class="navbar-tab"><a href="#adminpage">Admin</a></li>
                            {% endif %}

                        </ul>




                        </ul>


                    </div>
                </div>
            </nav>

        </div>
    </div>
    {% block content %}{% endblock %}


    	<footer class="container-fluid center-block">
    		<table><tr>
    			<td><h6 id="copyright">Copyright KenTorii.com</h6></td>
          {% if true == session %}
    			<td><a type="button"><i class="fa fa-2x fa-unlock" onmouseover="lock(this)" onmouseout="unlock(this)" id="logout" aria-hidden="true"></i></a></td>
          {% else %}
          <td><a type="button" data-toggle="modal" data-target="#myModal"><i class="fa fa-2x fa-lock" onmouseover="unlock(this)" onmouseout="lock(this)" aria-hidden="true"></i></a></td>
          {% endif %}
    		</tr></table>

    	</footer>

</body>

</html>
