
{% block extra %}{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}{% endblock %}
</head>
<body>
<div class="container kt-tabs-component">
<div class="container strictly-no-padding ">
<div class="kt-google-translate-widget" id="google_translate_element"></div>
<nav class="navbar navbar-inverse kt-tabs-component-nav"><!--navbar-default-->
  <div class="container-fluid">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color:#fed136;">Menu</a>
    </div>
    <div class="collapse navbar-collapse kt-tabs-component-nav-div" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#aboutsite">About This Site</a></li>
        <li><a href="#whatsup">What's Up?</a></li>
		<li><a href="#aboutme">About Me</a></li>
		<li><a href="#gamedev">Games</a></li>
		<li><a href="#otherprojects">Other Projects</a></li>
		<li><a href="#smash">Random</a></li>
		<li><a data-toggle="collapse" href="#tutorials">Tutorials</a>
      <div id="tutorials" class="collapse panel-collapse">
			<ul class="list-group">
				<li class="list-group-item"><a href="#physics">Physics</a></li>
				<li class="list-group-item"><a href="#math">Math</a></li>
			</ul>
    </div>
		</li>
		<li><a href="#contactme">Contact</a></li>
      </ul>


    </div>
  </div>
</nav>

</div>
</div>
{% block content %}{% endblock %}

</body>
</html>
