.container.kt-tabs-component {
  margin: 0;
  padding: 0;
}

li.list-group-item {
  background-color: #080808;
  border-color: #080808;
}

.container {
  width: 100%;
}

.kt-tabs-component-content {
  border: 1px solid #e7e7e7;
  min-height: 700px;
  padding-top: 15px;
}

.kt-tabs-component-content .navbar{
  margin-bottom: 0;
}
.kt-tabs-component-content.clean-container-theme{
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.kt-tabs-component-content h1,.kt-tabs-component-content h2,.kt-tabs-component-content h3,.kt-tabs-component-content h4 {
  padding-bottom:12px;
}

.kt-tabs-component .kt-tabs-component-nav {
  margin-bottom:0;
  border-radius: 0px;
}

.strictly-no-padding {
  padding:0 !important;
}

.header-indent-div h3  {
  margin-left:5px;
}
.header-indent-div h4  {
  margin-left:10px;
}
.header-indent-div h5  {
  margin-left:15px;
}
h1, h2, h3, h4, h5, h6 {

  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}
.weight-decrease-header-tags h3, .weight-decrease-header-tags h4,
.weight-decrease-header-tags h5, .weight-decrease-header-tags h6 {
  font-weight: 600;
}


.go-back-button {
  padding: 50px;

}

.bg-light-gray {
  background-color: #f8f8f8;

}
.bg-light-white {
  background-color: white;
}
.div-extra-padding {
  padding:30px;
}




@media screen and (min-width: 768px) {
    .kt-google-translate-widget{
	  position: absolute;
	  top:0;
	  right:30px;
	  z-index: 1049;
	  margin-top: 4px;
    }
}
@media screen and (max-width: 767px) {
    .kt-google-translate-widget {
	  position: absolute;
	  top:0;
	  right:90px;
	  z-index:1049;
	  margin-top: 4px;
    }
}



.maintenance-info-box {
  padding-top: 25px;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
    }
body {
    top: 0px !important;
    }


    .sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.kt-tabs-component-nav li.active a {
  color: #fed136 !important;

}
.kt-tabs-component-nav li a {
    /*text-transform: uppercase;*/
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}
.kt-tabs-component-nav .navbar-brand {
    /*text-transform: uppercase;*/
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
}

.img-center {
	margin:auto;
}




/*--profile css--*/
.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
    z-index: 1052;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.img-centered {
    margin: 0 auto;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal  .btn-primary {
    border-color: #fed136;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}

.portfolio-modal .modal-content {
    text-align: center;
}
.portfolio-modal .modal-body{
    text-align: left;
}

#portfolio * {
    z-index: 2;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}
@media screen and (min-width: 767px) {
	#portfolio .portfolio-item {
		right: 0;
	    margin: 0 0 30px;
	}
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(254,209,54,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #F8F8F8;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}


/*--links--*/
a {
    color: #edc912;
}

/*--jumbotron style override--*/
.jumbotron.strictly-no-background-color {
	background-color: rgba(255,0,0,0) !important;
	/*opacity:0 !important;*/

}

/*--bootstrap override for navbar--*/
/*
@media screen and (max-width: 1200px) {
	.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
	    margin-right: 0;
	    margin-left: 0;
	}
	.navbar-collapse.collapse {
	    display: block !important;
	    height: auto !important;
	    padding-bottom: 0;
	    overflow: visible !important;
	}
}
*/
